.BottomNavBarWrapper {
  background-color: #ffffff;
  position: absolute; // TODO: niet getest wat er gebeurd als er meer op de pagina staat; anders dit terug zetten naar 'fixed'
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BottomNavBar {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.BottomNavBar li {
  cursor: pointer;
  color: #333333;
  font-weight: 700;
  float: left;
  height: 40px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BottomNavBar li:not(:last-child) {
  border-right: 1px solid #dddddd;
}
